html{
    background-color: rgb(43, 41, 41);
  }
  body{
    display: flex;
    justify-content: center;
  }
  h1{
    font-size: 100px;
    text-align: center;
    margin-right: 40px;
    color: white;
    padding-left: 38px;
  }
  input{
    border-radius: 20px;
    height: 30px;
    width: 40em;
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
    outline: none;
  }
  button{
    background-color: rgb(77, 74, 74);
    position: relative;
    color: white;
    width: 12em;
    border: none;
    margin-top: -15px;
    margin-left: 100px;
    padding: 10px;
    font-size: 15px;
    border-radius: 8px;
    margin-right: -80px;
    
  }
  .lupinha{
    display: flex;
    justify-content: flex-start;
    padding-left: 14px;
    position: relative;
    top: -25px;
  }
  .itens{
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
    position: relative;
    top: -41px;
    margin-left: 15px;
    gap: 10px;
  }
